.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}


.sf-menu li {
	position: relative;
}


.sf-menu ul {
	position: absolute;
	display: none;
	background:#fff;
	z-index:100;
		opacity:.9;
}



.sf-menu > li {
	float:left; 
	list-style:none; 
	padding-right:10px;
	color:#533c47; 
	
	
}



.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
	position:absolute;
}




.sf-menu > li a{	font-family: 'Economica', sans-serif; font-size:18px; color:#533c47; text-align:left; padding:8px 24px 8px 24px; text-transform:uppercase;
}



.sf-menu a {
	display: block;
	position: relative;
	font-family: 'Economica', sans-serif; font-size:18px; color:#533c47; text-align:center; padding:8px 24px 8px 24px; text-transform:uppercase;
}



.sf-menu a:hover {
background:#B22222; padding:8px 24px 8px 24px; color:#fff;}



.sf-menu a.active {
background:#B22222;padding:8px 24px 8px 24px; color:#fff;}



.sf-menu ul ul {
	top: 0;
	left: 100%;
}